.feed__title {
    display: flex;
    justify-content: space-between;
}

.form-area {
    display: flex;
}

.feed-img {
    width: 48px;
    height: 48px;
}

.tweet-area {
    border: none;
    outline: none;
    resize: none;
    margin-left: .5rem;
    font-family: var(--font-main);
    font-size: 20px;
}

.tweet-area::placeholder {
    font-size: 20px;
}

.feed__post {
    color: var(--primary-blue);
}

.feed__post-btn {
    border-radius: 99px;
    border: none;
    background-color: var(--primary-blue);
    opacity: 0.5;
    color: var(--white);
    font-weight: 700;
    padding: 1rem 2rem;
    cursor: pointer;
}