.feed__content {
    border: 1px solid var(--dark7);
    height: 100vh;
    width: 600px;
}

.feed__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark7);
    padding: 1rem;
}

#form-tweet {
    border-bottom: 1px solid var(--dark7);
    padding: 1rem;
}

.form-area {
    display: flex;
}

.feed-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.tweet-area {
    border: none;
    outline: none;
    resize: none;
    margin-left: .5rem;
    font-family: var(--font-main);
    font-size: 20px;
}

.tweet-area::placeholder {
    font-size: 20px;
}

.feed__post {
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed__post-icons {
    display: flex;
    gap: .5rem;
    margin-left: 3.5rem;
    align-items: center;
}

.feed__post-btn {
    border-radius: 99px;
    border: none;
    background-color: var(--primary-blue);
    opacity: 0.5;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    width: 77px;
    height: 39px;
}

/* UTILITIES */

#view {
    height: 73vh;
    overflow-y: scroll;
}