:root {
    --black: #0F1419;
    --dark5: #5B7083;
    --dark7: #EBEEF0;
    --dark8: #F7F9FA;
    --font-main: 'Poppins', sans-serif;
    --primary-blue: #1DA1F2;
    --white: #FFFFFF;
}



html, body {
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    font-family: var(--font-main);
}

.container {
    display: flex;
}

.content {
    margin: 0 1rem;
}

